[alias]
  co = checkout
  ci = commit
  rb = rebase
  st = status
  cl = clone
  po = push origin

[color]
  status = auto
  branch = auto
  ui = auto

[user]
  name = {{ git_name }}
  email = {{ git_email }}

[mergetool "vimdiff3"]
   cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
